<form action="/purchase" method="POST">
<!-- Note that the amount is in paise = 50 INR -->
<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_live_RC8hMFCElX3wcF"
    data-amount="100"
    data-buttontext="Pay with Razorpay"
    data-name="Maynardleigh Associates"
    data-description="Life Strategies Humancare Pvt Ltd"
    data-image="https://sixer.maynardleighonline.in/assests/img/default.jpg"
    data-prefill.name="Kanika"
    data-prefill.email="kanika@maynardleigh.in"
    data-theme.color="#6666ff"
></script>
<input type="hidden" value="Hidden Element" name="hidden">
</form>